.modality {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-green-yellow);
  border-radius: 9rem;
  background-color: #e3e7ad73;
}

.modalityText {
  color: #fefff4;
  font-size: 0.8rem;
}
