.salary {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-green);
  border-radius: 9rem;
  background-color: #ade7b26e;
}

.salaryText {
  color: #c7ffc7;
  font-size: 0.8rem;
}
