.home {
  background: var(--light-green-gradient);
}

.button {
  padding: 0.7em;
  background: #3e81e0;
  color: #fff;
  border-radius: 2rem;
  margin-inline: auto;
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 2rem;
  width: 15em;
  z-index: 3;
  font-weight: bold;
}

.highlight {
  background-image: linear-gradient(to right, #3e81e0, #2f5fa3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  height: 100vh;
  background-image: url("/assets/imgs/square-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12em 0;
  position: relative;
  z-index: 2;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.12;
    background: linear-gradient(160deg, #d4fafc 20%, #a1d4e3af 80%);
  }

  .title {
    color: var(--black-color);
    margin-inline: auto;
    text-align: center;
    width: 15ch;
    line-height: 1.2;
    position: relative;
    z-index: 3;
  }

  .description {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    width: 45ch;
    margin-inline: auto;
    z-index: 3;
    position: relative;
    margin-top: 1rem;
  }
}

.lastJobs {
  padding: 1em;
  border: 1px solid var(--light-green);
  border-radius: 0.7rem;
  margin-top: 6rem;
  margin-inline: auto;
  position: absolute;
  right: 0;
  bottom: 8em;
}

.companies {
  background-color: #d6f7ff;
  padding: 6em 0;

  .companiesTitle {
    margin-top: 2rem;
    text-align: center;
    color: #1b1b1b;
  }

  .companiesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;

    .circle {
      width: 5em;
      height: 5em;

      .logo {
        border-radius: 50%;
      }
    }
  }
}

.benefitsContainer {
  background: linear-gradient(to right, #fdfdfd, #f4f9ff1e, #f9f9f9);
  padding: 8em;
  z-index: 10;

  .benefitTitle {
    text-align: center;
  }

  .benefitItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    margin-top: 6rem;
    color: #3d3939;

    .firstColumn {
      width: 30em;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .secondColumn {
      width: 30em;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 14rem;
    }

    .leftRectangleRounded {
      width: 43em;
      height: 12em;
      background: linear-gradient(to right, transparent, #9cccc94b);
      position: absolute;
      left: 0;
      bottom: 0;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 10em;
      opacity: 0.8;
    }

    .rightRectangleRounded {
      width: 43em;
      height: 12em;
      background: linear-gradient(to left, transparent, #9cccc94b);
      position: absolute;
      right: 0;
      top: 8rem;
      border-bottom-left-radius: 15em;
      border-top-left-radius: 0.5em;
    }
  }
}

.howItWorks {
  background: linear-gradient(160deg, #fcfcfc 20%, #fbfcff 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 10em 0;

  .howItWorksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin-top: 4em;

    .howItWorksImage {
      aspect-ratio: 1/1;
      border-radius: 1rem;
      object-fit: cover;
      width: 40em;
      height: 25em;
    }

    .howItWorksItemRight {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 3em;
      width: 70em;
    }

    .howItWorksItemLeft {
      display: flex;
      align-items: center;
      gap: 3em;
      width: 70em;
    }

    .howItWorksTitle {
      font-weight: 600;
    }

    .howItWorksDescription {
      width: 50ch;
    }
  }
}

.callToAction {
  background-color: #76aefc49;
  padding: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  .callToActionTitle {
    width: 35ch;
    text-align: center;
  }
}
