.home {
  background: var(--light-green-gradient);
}

.container {
  height: 100vh;
  background-image: url("/assets/imgs/square-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12em 0;
  position: relative;
  z-index: 2;

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.12;
    background: linear-gradient(160deg, #d4fafc 20%, #a1d4e3af 80%);
  }

  .title {
    color: var(--black-color);
    margin-inline: auto;
    text-align: center;
    width: 15ch;
    line-height: 1.2;
    position: relative;
    z-index: 3;
  }

  .highlight {
    background-image: linear-gradient(to right, #3e81e0, #2f5fa3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .description {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    width: 45ch;
    margin-inline: auto;
    z-index: 3;
    position: relative;
    margin-top: 1rem;
  }

  .button {
    padding: 0.7em;
    background: #3e81e0;
    color: #fff;
    border-radius: 2rem;
    margin-inline: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 2rem;
    width: 15em;
    z-index: 3;
    font-weight: bold;
  }
}

.lastJobs {
  padding: 1em;
  border: 1px solid var(--light-green);
  border-radius: 0.7rem;
  margin-top: 6rem;
  margin-inline: auto;
  position: absolute;
  right: 0;
  bottom: 8em;
}

.companies {
  background-color: #d6ffe7;
  padding: 6em 0;

  .companiesTitle {
    margin-top: 2rem;
    text-align: center;
    color: #1b1b1b;
  }

  .companiesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;

    .circle {
      width: 5em;
      height: 5em;

      .logo {
        border-radius: 50%;
      }
    }
  }
}
.companiesContainer::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 200px;
  top: -50px;
  left: 0;
  z-index: 1;
  filter: opacity(0.5) blur(5px);
}
.companiesContainer::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 200px;
  top: -50px;
  right: 0;
  z-index: 1;
  filter: opacity(0.4) blur(5px);
  background: linear-gradient(to right, #dbfcd1, transparent);
}

.firstJobContainer {
  padding: 8em 0;
  position: relative;
  z-index: 10;

  .firstJobTitle {
    text-align: center;
    font-size: 2.2rem;

    .firstJobTitleHighlight {
      background-image: linear-gradient(60deg, #53e07d, #5de9c4);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-decoration: underline;
    }
  }

  .columnText {
    color: #3a3838;
    font-size: 1.1rem;
  }

  .firstJobContent {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
    color: #3d3939;

    .firstColumn {
      width: 30em;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .secondColumn {
      width: 30em;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 14rem;
    }

    .leftRectangleRounded {
      width: 43em;
      height: 12em;
      background: linear-gradient(to right, transparent, #9cccc94b);
      position: absolute;
      left: 0;
      bottom: 0;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 10em;
      opacity: 0.8;
    }

    .rightRectangleRounded {
      width: 43em;
      height: 12em;
      background: linear-gradient(to left, transparent, #9cccc94b);
      position: absolute;
      right: 0;
      top: 8rem;
      border-bottom-left-radius: 15em;
      border-top-left-radius: 0.5em;
    }
  }
}

.secondJob {
  background-color: #d6ffe7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 10em 0;

  .secondCol {
    width: 30em;

    .secondJobContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;
      margin-inline: auto;

      .secondjobDescription {
        color: #3d3939;
      }

      .secondJobButton {
        font-weight: bold;
        color: #22cdf3;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 0.2em;
        }
      }
    }
  }
}
